body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #ffe6f1;
}

header {
    margin: 50px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #092532;
}

header > h1 {
    -webkit-text-stroke: 1px #ffa372;
}

.button {
    position: absolute;
    bottom: 20px;
    width: 80%;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.button > div {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 100px;
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    border: 6px solid black;
    color: #fff;
    border-radius: 50px;
    font-size: 40px;
}

.button > div > h3 {
    position: relative;
    bottom: 30px;
    -webkit-text-stroke: 1px #000;
}

.btn-1 {
    background: #00005c;
}

.btn-2 {
    background: #ffd31d;
}

.btn-3 {
    background: #eb6383;
}

.btn-4 {
    background: #ff5200;
}

.btn-5 {
    background: #162447;
}

.btn-6 {
    background: #e43f5a;
}

.pressed {
    box-shadow: 10px 10px 4px 0 #000;
    opacity: 0.5;
  }


  /* ANIMATION */
