body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #ffe6f1;
}

header {
    margin: 50px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #092532;
}

header > h1 {
    -webkit-text-stroke: 1px #ffa372;
    margin-bottom: 0;
}

header > h6 {
    margin-top: 0;
    text-transform: uppercase;
    color: grey;
}

.button {
    position: absolute;
    bottom: 20px;
    width: 80%;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.button > div {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 100px;
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    border: 6px solid black;
    color: #fff;
    border-radius: 50px;
    font-size: 40px;
}

.button > div > h3 {
    position: relative;
    bottom: 30px;
    -webkit-text-stroke: 1px #000;
}

.btn-1 {
    background: #00005c;
}

.btn-2 {
    background: #ffd31d;
}

.btn-3 {
    background: #eb6383;
}

.btn-4 {
    background: #ff5200;
}

.btn-5 {
    background: #162447;
}

.btn-6 {
    background: #e43f5a;
}

.pressed {
    box-shadow: 10px 10px 4px 0 #000;
    opacity: 0.5;
  }


  /* ANIMATION */

  .animation {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .circle {
      height: 200px;
      width: 200px;
      border: 4px solid black;
      border-radius: 50%;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      perspective: 1000px;
      -webkit-perspective: 1000px;
  }

  .temp-circle {
    animation: rotate 7s infinite;
  }

  @keyframes rotate {
      100% {
          transform: rotateY(360deg) rotateZ(360deg);
      }
  }

  .circle > div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 200px;
      width: 200px;
      border: 4px solid black;
      border-radius: 50%;
  }

  .circle > div:nth-child(1) {
      transform: rotateY(36deg);
  }

  .circle > div:nth-child(2) {
    transform: rotateY(72deg);
  }

  .circle > div:nth-child(3) {
     transform: rotateY(108deg);
  }

  .circle > div:nth-child(4) {
     transform: rotateY(144deg);
  } 
